* {
    margin: 0;

}

body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: rgb(32, 32, 32);
}

a {
    color: rgb(32, 32, 32);
    text-decoration: none;
}

h1 {
    margin-bottom: 30px;

}

h4 {
    margin-bottom: 8px;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.artist {
    color: grey;
    font-weight: 700;
}

#search-result-messages {
    font-weight: 500;
    margin-bottom: 60px;
}

#container {
    background-color: white;
    min-height: 80vh;
    width: 70%;
    margin: 0 auto;
    padding: 5% 4%;
}

#filter {
    display: flex;
    column-gap: 7px;
    align-items: flex-start;
    margin-bottom: 17px;
}

#filter-art-works {
    display: grid;
}

#search-result {
    display: flex;
}

.search-result-img {
    max-width: 100%;
    margin-top: 20px;
}

#search-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

#search-result-container > div {
    width: 31%;
}